/* Global Styles */
* {
    font-family: 'Manrope', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: bolder;
}

body {
    background-color: rgba(236, 240, 241, 1.0);
}

.container {
    width: 90%;
    margin: auto;
    padding: 1rem;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

img {
    max-width: 100%;
    display: block;
}

h1 {
    text-align: center;
    font-weight: 200;
    font-size: 4rem;
    margin: 1rem 0;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0 0.5rem 0;
    font-weight: bolder;
}

/* Navigation */
nav {
    background-color: rgb(243, 0, 0);
    text-align: center;
    font-size: 1.5rem;
    padding: 0.4rem 0;
    color: rgb(0, 0, 0);
}

.navbar-brand {
    display: inline-block;
    float: left;
    margin-left: 1rem;
}

.navbar-links {
    display: inline-block;
    float: right;
    margin-right: 1rem;
}

nav a {
    padding: 0 0.5rem;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    transition: border-bottom 0.3s, color 0.3s;
}

nav a:hover {
    border-bottom: 3px solid rgb(0, 0, 0);
}

a:hover {
    color: #0077ff;
    border-bottom: 3px solid rgb(0, 119, 255);
}

a, a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/* Specific color for links on the home page */
.home-page nav a,
.home-page nav a:visited {
    color: #0077ff;
}

/* Product and Form Styles */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.product-box {
    width: 30%;
    border: 1px solid rgba(189, 195, 199, 1.0);
    color: rgba(44, 62, 80, 1.0);
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.product-box:hover {
    transform: scale(1.05);
}

.product-box-heading,
.product-box-info {
    padding: 0.5rem;
}

.product-box-image {
    height: 150px;
    overflow: hidden;
    background: #ecf0f1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-box h3 {
    font-size: 1.2rem;
    text-align: center;
}

.product-box p {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
}

.product-box a {
    border: 1px solid #ffffff;
    padding: 0.3rem;
    text-align: right;
    display: block;
    margin: 0.5rem;
    border-radius: 3px;
    background-color: #0077ff;
    color: #ffffff;
    text-align: center;
}

.product-box a:hover {
    background-color: #005bb5;
}

.myform {
    width: 80%;
    margin: auto;
    padding-top: 3rem;
}

.form-group {
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form-label {
    width: 30%;
    padding: 0.3rem;
    text-align: right;
}

.form-element {
    width: 70%;
    padding: 0.3rem;
}

.button-group {
    margin-top: 2rem;
    text-align: center;
}

.button-group input,
.form-group input {
    padding: 0.5rem;
    width: 100%;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.button-group input:focus,
.form-group input:focus {
    border-color: #0077ff;
}

/* Table Styles */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 1rem;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    .navbar-brand, .navbar-links {
        float: none;
        display: block;
        text-align: center;
        margin: 0.5rem 0;
    }

    .products {
        flex-direction: column;
    }

    .product-box {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .product-box {
        width: 100%;
    }
}

footer {
    background-color: #ff0000;
    padding: 10px;
    margin: 0;
    font-weight: bolder;
    text-align: center;
}
