{% extends 'base.html' %}

{% block pageheading %}
menu
{% endblock %}

<main>
    <h2>Maori to English Dictionary</h2>

   <table>
       <thead>
       <tr>
           <td><a href=" "></a></td>
       </tr>
           <tr>
               <td>English Word</td>
               <td>Te Reo Word</td>
               <td>Category</td>
               <td>Description</td>
               <td>Level</td>

           </tr>
       </thead>
       <tbody>
</main>


{% block main %}
    <div>class="dictionary-list"</div>



{% endblock %}